@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600");

/* global */
:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-light-gray);
}

h3 {
  font-size: 34px;
  font-weight: 600;
  margin: 0 0;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0;
}

div > p {
  font-size: 15px;
  font-weight: 200;
  color: var(--neutral-dark-blue);
}

.root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

/* cards */

.card {
  border: 1px solid rgba(129, 129, 129, 0.1);
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
  padding: 2rem;
  width: 350px;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.top-box {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  align-items: center;
  margin-bottom: 2rem;
}

.top-box h3:nth-child(1) {
  color: var(--neutral-dark-blue);
  font-weight: 200;
}

.top-box h3:nth-child(2) {
  color: var(--neutral-dark-blue);
}

.top-box p {
  text-align: center;
  font-weight: 400;
  color: var(--neutral-grayish-blue);
}

.four-card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vertical-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 1rem;
}

.card img {
  align-self: flex-end;
  margin-top: auto;
}

.supervisor-box {
  border-top: 5px solid var(--primary-cyan);
}

.team-box {
  border-top: 5px solid var(--primary-red);
}

.karma-box {
  border-top: 5px solid var(--primary-orange);
}

.calculator-box {
  border-top: 5px solid var(--primary-blue);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .root {
    margin: 2rem 0.5rem;
  }

  h3 {
    font-size: 20px;
  }

  .four-card-box {
    width: auto;
  }

  .vertical-box {
    margin: 0;
    width: 100%;
    padding: 1rem;
  }

  .top-box {
    width: auto;
  }

  .card {
    width: 100%;
    padding: 1rem;
  }
}
